*,
*::before,
*::after {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  line-height: 1.4;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  background-color: #000;
  padding: 10rem 0;
  display: grid;
  place-items: center;
  grid-row-gap: 5rem; }

.app__container {
  overflow: hidden;
  position: relative;
  background-color: white;
  max-width: 144rem;
  width: 100%;
  z-index: 1; }
  .app__container--bg-1, .app__container--bg-2 {
    position: absolute;
    z-index: -1;
    width: 32%;
    height: 85%; }
  .app__container--bg-1 {
    top: 0;
    left: -5%;
    border-bottom-right-radius: 25rem;
    border-bottom-left-radius: 25rem;
    background: linear-gradient(to left bottom, #e942ff, #8838ff); }
  .app__container--bg-2 {
    bottom: 0;
    right: -8%;
    background-color: #f5f3f7;
    border-top-right-radius: 25rem;
    border-top-left-radius: 25rem; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }
