.app {
  &__container {
    overflow: hidden;
    position: relative;
    background-color: hsl(0, 0%, 100%);
    max-width: 144rem;
    width: 100%;
    z-index: 1;
    display: grid;
    place-items: center;
    gap: 10rem;
    grid-template-columns: repeat(6, 1fr);

    &--bg-1,
    &--bg-2 {
      position: absolute;
      z-index: -1;
      width: 32%;
      height: 85%;
    }

    &--bg-1 {
      top: 0;
      left: -5%;
      border-bottom-right-radius: 25rem;
      border-bottom-left-radius: 25rem;
      background: linear-gradient(
        to left bottom,
        hsl(293, 100%, 63%),
        hsl(264, 100%, 61%)
      );
    }

    &--bg-2 {
      bottom: 0;
      right: -8%;
      background-color: hsl(270, 20%, 96%);
      border-top-right-radius: 25rem;
      border-top-left-radius: 25rem;
    }
  }

  &__illustration {
    grid-column: 2 / 4;
    background-color: thistle;
  }

  &__description {
    grid-column: 4 / 6;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
