.app {
  &__container {
    overflow: hidden;
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.924);
    max-width: 144rem;
    width: 100%;
    z-index: 1;
    padding: 15rem 5rem;
    display: grid;
    place-items: center;
    gap: 10rem;
    grid-template-columns: repeat(6, 1fr);

    &--bg-1,
    &--bg-2 {
      position: absolute;
      z-index: -1;
      width: 32%;
      height: 85%;
    }

    &--bg-1 {
      top: 0;
      left: -5%;
      border-bottom-right-radius: 25rem;
      border-bottom-left-radius: 25rem;
      background: linear-gradient(
        to left bottom,
        hsl(293, 100%, 63%),
        hsl(264, 100%, 61%)
      );
    }

    &--bg-2 {
      bottom: 0;
      right: -12%;
      background-color: hsla(276, 100%, 81%, 0.075);
      border-top-right-radius: 25rem;
      border-top-left-radius: 25rem;
    }
  }

  &__illustration {
    overflow: hidden;
    grid-column: 2 / 4;
    background-color: hsl(270, 20%, 96%);
    border-radius: 3rem;
    box-shadow: 0 0 0 1rem #fff;
    display: grid;
    grid-template-columns: repeat(5, 5rem);

    // *just for initial height
    grid-template-rows: repeat(13, 4rem);
  }

  &__top {
    &-notch {
      grid-column: 1 / 6;
    }

    padding: 1.5rem;
    grid-area: 1 / 1 / 3 / 6;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, min-content) 3fr min-content;
    grid-column-gap: 1rem;
    background: linear-gradient(
      to left,
      hsl(293, 100%, 63%),
      hsl(264, 100%, 61%)
    );

    &--icon {
      width: 1rem;
      height: 1rem;
      fill: #fff;
    }
  }

  &__item {
    width: 2.3rem;
    height: 2.3rem;
  }

  &__img {
    box-shadow: 0 0 0 0.1rem #fff;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info-person {
    line-height: 1.2;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
  }

  &__description {
    grid-column: 4 / 6;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
